*, *::before, *::after {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1200px ) {
    
    body,html  {
        width: 100%;
        height: 100%;
        background-image: url(../asset/background.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .container {
        background: #fff;
        width: 1000px;
        height: 700px;
        min-width: 300;
        border-radius: 10px;
        /* going to layout everything in grid */

        header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            box-shadow: 0px 5px 5px #d3d3d3;
            padding: 1rem;
            h1 {
                /* font styles not decided yet*/
            }
            #todo-icon {
                background-image: url(/asset/clipboard-edit-outline.svg);
                width: 30px;
                height: 30px;
            }
        }

        .bullet-point {
            display: list-item;
        }
    }
}




@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }