@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-bg-color: rgba(230, 227, 225, 0.95);
    --header-bg-color: #f1807e;
    --menu-bg-color: #e0cfc7;
    --text-color: #141414;
    --border-detail-color: rgb(71, 47, 38);
    --task-counter-bg: var(--header-bg-color);
    --shadow-strong: 0 10px 20px rgba(0, 0, 0, 0.3);
    --shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius-large: 25px;
    --border-right-color: #a58f83;
    --transition-standard: all 0.3s ease-in-out;
    --font-primary: Arial, Helvetica, sans-serif;
    --font-secondary: "Poppins", sans sarif;
}

@keyframes popupAppear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}


body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
}

.container {
    background: var(--main-bg-color);
    display: grid;
    grid-template-areas: 
        "header header header"
        "menu content content"
        "menu content content";
    grid-template-columns: 1fr repeat(2, 1.3fr);
    grid-template-rows: 1fr repeat(2, 4fr);
    transition: var(--transition-standard);

    border-radius: var(--border-radius-large);

    header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--header-bg-color);
        padding: 0.5rem;
        color: var(--text-color);

        border-top-left-radius: var(--border-radius-large);
    
    
        #logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            font-size: 1.5rem;
            font-style: italic;
            color: #fff;
    
            #todo-icon {
                background-image: url(/asset/clipboard-white.png);
                width: 50px;
                height: 50px;
            }
        }
    }

    #home, #projects {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 1.2rem;
    
        > div {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        
    }

    .menu-container {
        grid-area: menu;
        background-color: var(--menu-bg-color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        gap: 0.5rem;
        box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.04); 
        border-right: 1px solid var(--border-right-color);
        
        h2 {
            border-bottom: 1px solid var(--border-detail-color);
            width: 100%;
            font-family: var(--font-secondary);
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0.5rem 0rem 0.3rem 0rem;
        }
    }

    #content {
        grid-area: content;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}


button {
    background-color: var(--menu-bg-color);
    color: var(--text-color);
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, font-size 0.3s;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    margin-right: 15px;
    
}

.task-counter {
    background-color: var(--task-counter-bg);
    border-radius: 50%;
    color: #fff;
    padding: 0.7rem;
    font-size: 0.75rem;
    font-weight: bold;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}


.buttonHover:hover {
    transform: translateX(10px);
}

.hamburger-menu-container {
    display: none;
}

#addProjectContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    #addProjectBtn {
        font-size: 1.2rem;
        font-weight: 700;
    
        span {
            margin-left: 2px;
        }
    }
    
}

.task-priority-high {
    border-left: 7px red solid;
}

.task-priority-medium {
    border-left: 7px orange solid;
}

.task-priority-low {
    border-left: 7px green solid;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;

    .task-container-main {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-align: center;
        height: 100%;
        
        h4 {
            font-family: var(--font-secondary);
            font-size: 1rem;
        }

        #task-completed {
            width: 15px;
            height: 15px;            
        }

        .projectNameForTask {
            opacity: 25%;
            font-size: 0.8rem;
        }

    }

    .task-container-second {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        height: 100%;
        text-wrap: nowrap;

        span {
            font-family: var(--font-secondary);
        }

        button {
            margin: 0;
        }

    }
}

.editTaskBtn {
    img {
        height: 23px;
    }
}

.deleteTaskBtn {
    img {
        height: 26px;
    }
}

.taskButtonImages {
    margin-top: 5px;
}

.taskButtonImages:hover {
    transition: filter 0.15s ease-in-out;
    filter: invert(58%) sepia(25%) saturate(936%) hue-rotate(314deg) brightness(101%) contrast(89%);
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin-top: 2.5px;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid var(--header-bg-color);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: transform 120ms ease-in-out;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:hover::before {
    transform: scale(1);
    background-color: #fff; 
}

input[type="checkbox"]:hover {
    background-color: var(--header-bg-color); 
    transition: background-color 120ms ease-in-out;
}


input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: #fff;
}

input[type="checkbox"]:checked {
    background-color: var(--header-bg-color);
    transition: background-color 120ms ease-in-out;
}


.task-container.completed {
    text-decoration: line-through;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    filter: grayscale(25%); 
    opacity: 0.6; 
}

.task-container.completed h4,
.task-container.completed .projectNameForTask,
.task-container.completed .dueTaskDate,
.task-container.completed {
    color: rgb(0, 0, 0);
    text-decoration: line-through;
}

.task-container.completed .taskButtonImages {
    opacity: 50%;
    position: relative;
}

.task-container.completed .taskButtonImages::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background: black;
    transform: translateY(-50%);
}



[data-selected="true"] {
    font-weight: bold;
    /* text-decoration: underline 1px var(--text-color);
    text-underline-offset: 6px; */
    transform: translateX(13px);
    font-weight: 700;
}

[data-selected="true"] > button {
    text-decoration: none;
}

.popup-container {
    animation: popupAppear 0.3s ease-in-out;
    position: fixed;
    display: none; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 50; 

    .popup-content {
        background-color: #fff;
        border-radius: 5px;
        width: 50rem;
        z-index: 52;
        position: relative;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

        h2 {
            text-align: center;
            border: none;
            padding: 0.5rem 0.5rem 0.5rem 1.5rem;
            background-color: var(--header-bg-color);
            color: white;
            text-align: left;
            font-weight: bold;
            font-family: var(--font-secondary);
            font-style: italic;
        }

        #projectTitle:focus {
            border-color: #4CAF50;
            box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
            transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }
    }

    #newProjectForm {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5rem;
        padding: 1rem;

        .projectPopupInputContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            text-wrap: nowrap;
            font-weight: 700;
            margin-top: 1rem;
            input {
                width: 80%;
                padding: 10px;
                outline: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1.1rem;
                font-weight: 500;
            }

            label {
                font-size: 1.1rem;
                font-weight: 600;
            }
        }

        .projectPopupButtonsContainer {
            display: flex;
            justify-content: center;

            button {
                font-weight: 600;
                padding: 10px 18px;
                background-color: #fff;
                cursor: pointer;
            }

            button:nth-child(1) {
                border: 1px solid green;
                color: green;
            }

            button:nth-child(1):hover {
                background-color: green;
                color: #fff;
            }

            button:nth-child(2) {
                border: 1px solid red;
                color: red;
            }

            button:nth-child(2):hover {
                background-color: red;
                color: #fff;
            }
        }
    }

    .popup-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .taskPopupInputContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        div:nth-child(2) {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            label {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
    
    .taskPopupInputContainer label {
        display: block;
        margin: 10px 0 5px;
    }
    
    .taskPopupInputContainer input,
    .taskPopupInputContainer select,
    .taskPopupInputContainer textarea {
        width: 100%;
        padding: 8px;
        outline: none;
    }
    
    .taskCancelBtn, .taskSubmitBtn{
        padding: 4px 8px;
        background-color: #444;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 0;
    }

    .taskSubmitBtn {
        color: var(--header-bg-color);
        border: 1px solid var(--header-bg-color);
        background-color: #fff;
        font-weight: 500;
        font-family: var(--font-secondary);
    }

    .taskSubmitBtn:hover {
        background-color: #45a049;
        color: white;
        border-color: #45a049;
    }
    
    .taskCancelBtn {
        color: var(--header-bg-color);
        border: 1px solid var(--header-bg-color);
        font-weight: 500;
        font-family: var(--font-secondary);
        background-color: #fff;
    }

    .taskCancelBtn:hover {
        background-color: #d32f2f;
        color: white;
        border-color: #d32f2f;
    }
}

#dueDateContainer {
    display: flex;
    align-items: center;
    width: 100%;
    text-wrap: nowrap;
    gap: 0.5rem;

    input {
        padding: 0.5rem 1rem;
        border: 1px solid var(--header-bg-color);
        border-radius: 5px;
        color: var(--header-bg-color);
        background-color: transparent;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: lato, sans-serif;
        width: 11rem;
    }
}

#newTaskForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}


input, textarea, select {
    border: none;
    outline: none;
}

input[type="checkbox"]:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.taskShowDetailsBtn {
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid var(--header-bg-color);
    color: var(--header-bg-color);
    padding: 0.4rem 0.8rem;
    margin-left: 0.4rem
}

#taskTitle {
    font-size: 1.4rem;
}

#taskDescription {
    font-size: 1.1rem;
    font-weight: 300;
    height: 10rem;
    margin-bottom: 10rem;
}

.taskShowDetailsBtn:hover {
    color: #fff;
    background-color: var(--header-bg-color);
    transition: background 0.3s ease-in-out
}


.priority-btn.active {
    border: 2px solid black;
}


#taskButtonsContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    div:nth-child(1) {
        display: flex;
        align-items: center;

        label {
            margin-right: 1rem;
        }

        button {
            padding: 8px 16px;
            font-weight: 500;
        }

        button:nth-child(2) {
            border: 1px solid green;
            color: green;
            background-color: #fff;
        }

        button:nth-child(2):hover,
        button:nth-child(2).active {
            color: #fff;
            background-color: green;
        }

        button:nth-child(3) {
            border: 1px solid orange;
            color: orange;
            background-color: #fff;
        }

        button:nth-child(3):hover,
        button:nth-child(3).active {
            color: #fff;
            background-color: orange;
        }

        button:nth-child(4) {
            border: 1px solid red;
            color: red;
            background-color: #fff;
        }

        button:nth-child(4):hover,
        button:nth-child(4).active {
            color: #fff;
            background-color: red;
        }
    }

    .taskPopupButtonsContainer {
        display: flex;
        align-content: flex-end;
        justify-content: flex-end; 
        gap: 0.8rem;
    }
}

.add-new-task-btn {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--main-bg-color);
    color: var(--header-bg-color);
    border: 0.5px solid var(--header-bg-color);
}

.add-new-task-btn:hover {
    background-color: var(--header-bg-color);
    color: #fff;
}


@media only screen and (min-width: 1200px) {
    body, html {
        background-image: url(../asset/background.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .container {
        width: 1200px;
        height: 700px;
        min-width: 300px;
    }
}

@media only screen and (max-width: 565px) {
    #taskButtonsContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .taskPopupButtonsContainer {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 750px) {



    .container {
        width: 100%;
        height: 100%;
        grid-template-areas: 
        "header"
        "content";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 8fr;

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            border-radius: 0;
    
            #logo {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .3rem;
                margin-left: 1rem;
                flex-wrap: nowrap;
                #todo-icon {
                    min-width: 30px;
                    min-height: 30px;
                }
            }
    
            .hamburger-menu-container {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                min-width: 40px;
                min-height: 40px;
                width: 40px;
                height: 40px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .menu-container {
            display: none;
            top: 60px; 
            left: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            transition: transform 0.3s ease-out, opacity 0.3s;
            z-index: 4;
            opacity: 0; 
            transform: translateY(-100%);
    
            #home, #projects {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                gap: 1rem;
            }
    
            h2 {
                border-bottom: 1px solid black;
                width: 100%;
            }
        }
    
        .menu-container.active {
            display: flex;
            opacity: 1; 
            transform: translateY(0);
            grid-area: menu content;
        }
    } 



    .container.menu-active {
        grid-template-areas: 
            "header"
            "menu";
    }

    .container.menu-active #content {
        display: none;
    }


    #addTaskContainer {
        margin-bottom: 4rem;
    }

}

@media (min-width: 751px) and (max-width: 1199px) {
    body, html {
        background: none; 
    }

    .container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: 
        "header header"
        "menu content";
        grid-template-columns: 1.2fr 4fr;
        grid-template-rows: 1fr 8fr;
        border-radius: 0;

        header {
            grid-area: header;
            border-radius: 0;
            #logo {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
            }
        }
    }

    #home, #projects {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 1rem;
    }

    h2 {
        border-bottom: 1px solid black;
        width: 100%;
    }

    #menu {
        grid-area: menu;
    }

    #content {
        grid-area: content;
    }

    .hamburger-menu-container {
        display: none; 
    }

    header, .menu-container, .content {
        width: 100%; 
    }
}
